<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN">
    <Properties>
        <Property name="log.pattern">%d{yyyy-MM-dd HH:mm:ss} [%highlight{%-5level}] %logger{36} - %msg%n</Property>
        <Property name="log.file.pattern">%d{yyyy-MM-dd HH:mm:ss} [%-5level] %logger{36} - %msg%n</Property>
        <Property name="log.file.path">src/main/logs/application.log</Property>
    </Properties>

    <Appenders>
        <File name="FileAppender" fileName="${log.file.path}">
            <PatternLayout pattern="${log.file.pattern}" />
        </File>
    </Appenders>

    <Loggers>
        <Logger name="com.tabled.millioner.controller" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="com.tabled.millioner.services" level="DEBUG" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="com.tabled.millioner.models" level="WARN" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Logger name="com.tabled.millioner.utils" level="INFO" additivity="false">
            <AppenderRef ref="FileAppender" />
        </Logger>

        <Root level="ERROR">
            <AppenderRef ref="FileAppender" />
        </Root>
    </Loggers>
</Configuration>
